
// Colors
$backgroundColor: #B999C1;
$shadowColor: #4D216D80;
$purple : #4D216D;
$purpleActive : #8F6BB5;
$purpleToggle : #2A123B;
$logoGradient : transparent linear-gradient(134deg, #D14A51 0%, #C51D25 49%, #85141A 100%) 0% 0% no-repeat padding-box;
$white : #fff;

// sizes
$height : 130px;

//breakpoints
$maxWidth : 1360px;
$mobileMax : 768px;
$tabletMin : 769px;
$laptopMin : 1024px;
$desktopMin : 1360px;

//index
$backgroundLevel : 1;
$lowLevel : 4;
$midLevel : 6;
$highLevel : 10;

//ID
$ID : 'OPT51';
